<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="icon" href="../static/icon.png" type="image/x-icon"/>
    <style>
        .index {
            width: 50%;
            height: 320px;
            padding: 15px;
            background-color: #99CCCC;
            box-shadow: 10px 10px 5px grey;
            font-size: large;
            text-align: center;
            line-height: 250%;
            overflow-y: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body bgcolor="#E6E6FA">

    <div class="index">
        <br>
        <strong style="letter-spacing: 5px;font-family: 方正小标宋简体; font-size: xx-large">目录</strong>
        <p style="font-family: 新宋体"><a href="{{ url_for('song_ci') }}">1.宋词生成</a></p>
        <p style="font-family: 新宋体"><a href="{{ url_for('spilt_word') }}">2.中文分词</a></p>
    </div>

</body>
</html>